.env
venv
datasets/*
output/
runs/
yolov*
api/data
Erickson_data
research/data/evaluation_images_experiment_1
research/data/experiment_3_images
server_runs
models/*
api/data/output/*
api/data/tiles/*
api/data/input/*
notes*